*{
  margin: 0;
  padding: 0;
  
}
/* body{
  background-color: rgb(191, 200, 207);
} */
.marginControll{
  margin-left: 128px;
}
.element{
  display: flex;
  gap: 20px;
}
.test{
  background-color: rgb(42, 37, 67);
  margin-top: -9px;
}
.textcolor > li> a{
  color: white;
}
.textcolor > li> a:hover{
  border-bottom: 2px solid white;
  color: white;
}
.textcolor{
  color: white;
}
.btn{
  padding: 11px 19px;
    color: blue;
    border: 2px solid blue;
    font-weight: bold;
    font-size: 15px;
    border-left: 6px solid blue;
}
.btn:hover{
  background-color: white;
color: black;
border: 2px solid white;
}


.footer{
  background-color: rgb(42, 37, 67);
  color: white;
}
.border-none{
  text-decoration: none;
}

.icons{
  display: flex !important
  ;
  gap: 65px !important;
  font-size: 30px !important;
  margin-top: 10px !important;
}
.navbar-toggler{
  color: white;
}
.menuicon{
  background-color: white;
  color: white;
  
}
.container{
  background-color: rgb(42, 37, 67);
  color: white;
  width: 82%;
  height: 100%;
}
.form{
  width: 95%;
  height: 86%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
  color: white;
  margin-top: 30px;
  background-color: white;
}
.border{
  display: flex;
  justify-content: center;
  align-items: center;
 border: 2px solid blue !important;
  padding: 14px 0px 32px 7px;
  margin: 66px 73px 53px;
  padding: 2px 28px 34px;
}
.btn2{
  margin: 0px 221px 13px 11px;
}
.btn2:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
  border-left: 6px solid black;
}

.firstCol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon{
  margin-top: 176px;
  margin-bottom: 44px;
  margin-left: 53px;
}
.h{
  margin: 71px 41px 16px 21px;
  color: blue;
}
.p{
  margin-left: 26px;
}
.s{
  margin-top: 81px;
  margin-left: 26px; 
  display: flex;
  gap:15px;
  align-items: center;
}
.s1{

  margin-left: 26px; 
  display: flex;
  gap:15px;
  /* align-items: center; */
}
@media only screen and (max-width: 990px) {
  .marginControll{
    margin-left: 0;
  }
  .icons{
    display: flex;
    justify-content: center;
  }
  .btn2{
    margin: -9px 94px 13px 11px;
  }
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .border{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 99px;
    width: 99%;
    margin: 4px;
  }
  
}